<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ title }} </title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/{{style}}">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/characters.css">
</head>

<body>
    {{{ body }}}
    <div class="top-row">
        <img src="{{img}}" alt="" class="portrait">
        <h1>{{character}}</h1>
    </div>

    <h2>Nickname: {{nickname}}</h2>
    <h3>Occupation: {{occupation}}</h3>
    <h3>Status: {{status}}</h3>
    <h4>Portrayed By: {{actor}}</h4>


    <p class="return"><a href="/" class="home">Return to home page</a></p>
    <footer>All data obtained from <a href="https://breakingbadapi.com/">https://breakingbadapi.com</a></footer>
</body>

</html>