<h2 id="title"><span class="elements">Br</span>eaking <span class="elements">Ba</span>d Characters</h2>

<p id="names">{{saul}}, {{hank}}, {{gus}}, {{walterJR}}</p>

<div class="first-row">
    <div class="top-containers">
        <div class="image"><a href="walter"><img src="{{walterIMG}}" alt="" class="top-row" class="portrait"></a></div>
            <h2 class="names">{{walter}}</h2>
    </div>

    <div class="top-containers">
        <div class="image"><a href="jesse"><img src="{{jesseIMG}}" alt="" class="top-row" class="portrait"></a></div>
            <h2 class="names">{{jesse}}</h2>
    </div>
</div>


<div class="second-row">
    <div class="container">
        <div class="image"><a href="saul"><img src="{{saulIMG}}" alt="" class="bottom-rows"></a></div>
            <h2 class="names">{{saul}}</h2>
    </div>

    <div class="container">
        <div class="image"><a href="hank"><img src="{{hankIMG}}" alt="" class="bottom-rows"></a></div>
            <h2 class="names">{{hank}}</h2>
    </div>

    <div class="container">
        <div class="image"><a href="gus"><img src="{{gusIMG}}" alt="" class="bottom-rows"></a></div>
            <h2 class="names">{{gus}}</h2>
    </div>
</div>