<h2 id="title"><span class="elements">Br</span>eaking <span class="elements">Ba</span>d Characters</h2>
<p id="desc">Some of the Breaking Bad characters</p>

<p id="names">{{saul}}, {{hank}}, {{gus}}, {{walterJR}}</p>

<div class="first-row">

    <div class="containers" class="stars">
        <div class="image"><a href="walter"><img src="{{walterIMG}}" alt="" class="portrait"></a></div>
        <div class="information">
            <h2>{{walter}}</h2>
        </div>
    </div>

    <div class="containers" class="stars">
        <div class="image"><img src="{{jesseIMG}}" alt="" class="portrait"></div>
        <div class="information">
            <h2>{{jesse}}</h2>
        </div>
    </div>

</div>