<h1 id="title"><span class="elements">Br</span>eaking <span class="elements">Ba</span>d Characters</h1>

<div class="first-row">
    <div class="top-item">
        <a href="walter"><img src="{{walterIMG}}" alt="" class="img-height" class="portrait"></a>
        <h2 class="names">{{walter}}</h2>
    </div>

    <div class="top-item">
        <div class="image"><a href="jesse"><img src="{{jesseIMG}}" alt="" class="img-height" class="portrait"></a></div>
        <h2 class="names">{{jesse}}</h2>
    </div>
</div>

<div class="second-row">
    <div class="second-item">
        <div class="image"><a href="saul"><img src="{{saulIMG}}" alt="" class="img-height" class="portrait"></a></div>
        <h2 class="names">{{saul}}</h2>
    </div>

    <div class="second-item">
        <div class="image"><a href="hank"><img src="{{hankIMG}}" alt="" class="img-height" class="portrait"></a></div>
        <h2 class="names">{{hank}}</h2>
    </div>

    <div class="second-item">
        <div class="image"><a href="skyler"><img src="{{skylerIMG}}" alt="" class="img-height" class="portrait"></a>
        </div>
        <h2 class="names">{{skyler}}</h2>
    </div>

    <div class="second-item">
        <div class="image"><a href="gus"><img src="{{gusIMG}}" alt="" class="img-height" class="portrait"></a></div>
        <h2 class="names">{{gus}}</h2>
    </div>
</div>


{{!-- <div class="second-row">

    <div class="container">
        <div class="image"><a href="gus"><img src="{{gusIMG}}" alt="" class="img-height"></a></div>
        <h2 class="names">{{gus}}</h2>
    </div>

    <div class="container">
        <div class="image"><a href="gus"><img src="{{walterjrIMG}}" alt="" class="img-height"></a></div>
        <h2 class="names">{{walterjr}}</h2>
    </div>
</div> --}}